<!DOCTYPE html>
<html>
  <head>
    <title>Refurbished Phone Seller</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Refurbished Phone Seller</h1>
      {% if session.get('user') %}
      <p>
        Welcome, {{ session['user'] }} |
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      </p>
      {% endif %}
      <hr />
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
